body { 
    background-image: url('back.jpg'); 
}
.content { 
    margin: 0 auto; 
    width: 1000px; 
}
.header { 
    min-width: 650px;
    max-width: 1000px; 
    height: 200px; 
    background: url('panorama.jpg') no-repeat center; 
    background-size: 1000px;
}
.header .kep { 
    float: right; 
    max-width: 130px;
    margin-right: 50px; 
    margin-top: 35px; 
}
.header h1 { 
    color: black; 
    float: left; 
    margin-left: 20px; 
    margin-top: 20px; 
}
.kilatok { 
    width: 450px; 
    background: #5B9CEA; 
    padding: 10px 20px; 
}
.balra { 
    float: left; 
}
.jobbra { 
    float: right; 
}
table { 
    background: #B0D1F1; 
}
table, td, th { 
    border: 1px solid black;
    border-collapse: collapse;  
}
td { 
    padding: 5px; 
    width: 50%; 
}
th { 
    text-align: center; 
}